#falcon-weather {
    background: white;
}

.city-block {
    display: inline-block;
    margin: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    background: white;
}

.city-block:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.city-name {
    font-weight: bold;
    display: block;
}

.icon {
    width: 50px;
}

.description {
    font-size: 13px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.description img {
    margin-left: 5px;
}

.description li {
    margin-bottom: 10px;
}

.temperature-unit {
    width: 20px !important;
}

.description img {
    width: 40px;
}

.flip {
    transform: rotate(180deg) scaleY(-1);
}

#reload {
    padding: 10px;
    cursor: pointer;
}

#reload img {
    width: 30px;
    margin-right: 10px;
}

#weather.reloading {
    opacity: .7;
}

.spinning-arrows {
    -webkit-animation: spin 1s ease infinite;
    -moz-animation: spin 1s ease infinite;
    animation: spin 1s ease infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}